/* 样式初始化 */
/* * {
  margin: 0;
  padding: 0;
} */
.container {
  /* padding-top: 0.44rem; */
  box-sizing: border-box;
}
body {
  font-family: "'Fira Code', 'Menlo', 'Monaco', 'Courier New', 'monospace'";
}
