/* header */
.header {
  position: relative;
  height: 5rem;
  padding: 0 1.5rem;
  background-color: #333;
}
.header .logo {
  float: left;
  color: #fff;
  line-height: 5rem;
}
.header .header-nav {
  float: left;
  height: 100%;
  margin-left: 10rem;
}
.header .nav-list {
  height: 100%;
}
.header .nav-item {
  float: left;
  width: 15rem;
  color: #fff;
}
.header .nav-lk {
  color: #eee;
  line-height: 5rem;
  font-size: 1.6rem;
  text-align: center;
}
.header .fa-bars {
  display: none;
  float: right;
  color: #fff;
  line-height: 5rem;
  font-size: 2rem;
}

/* banner */
.banner {
  position: relative;
  height: 60vh;
  background: url("../img/banner.jpg") no-repeat center/cover;
}
.banner .avator {
  position: absolute;
  top: 35%;
  left: 35%;
  height: 50%;
  transform: translate(-50% -50%);
  width: 17rem;
  height: 22rem;
}
.banner .avator img {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  border: 3px solid #ddd;
  box-shadow: 0.5rem 0.8rem 1rem #333;
}

.banner .avator .title {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  text-shadow: 0.1rem 0.3rem 0.5rem #000;
}

/*  course-board*/
.course-board {
  width: 120rem;
  margin: 50px auto;
  border: 1px solid #000;
}

.course-board .inner {
  width: 122rem;
  /* border: 1px solid red; */
  margin-left: -1rem;
}
.course-board .course-card {
  float: left;
  width: 25%;
  border: 0.1rem solid transparent;
  padding: 1rem;
}
.course-board .course-card:hover {
  border-color: #ddd;
}
.course-board .course-banner img {
  height: 36rem;
}
